* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/csgo.png);
    background-size: cover;
    overflow: hidden;
}

.container {
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: rgb(24, 98, 236);
    text-align: center;
    padding: 10px;
}

.title {
    font-size: 26px;
    color: white;
}

section {
    padding: 20px;
    background-image: url(../images/eslwinners.jpg);
    background-size: cover;
    overflow: hidden;
}

.formContainer {
    padding: 10px;
    max-width: 230px;
    background-color: #FFFFFFBB;
    float: right;
}

.mb {
    margin-bottom: 15px;
    font-size: 16px;
}

form input, form select {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
}

form select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    background-image: url(../images/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

input[type="submit"] {
    background-color: rgb(24, 98, 236);
    border: none;

}

input[type="submit"]:hover {
    background-color: rgb(10, 33, 167);

    border-radius: 10px;
    transition: 0.5s;
}

footer {
    background-color: rgb(34, 33, 33);
    padding: 40px;
    text-align: center;

}

footer img {
    width: 260px;
    border: 5px solid rgb(51, 180, 255);
    border-radius: 50%;
}

.description {
    color: white;
    display: inline-block;
    padding: 40px;
    max-width: 40%;
    text-align: left;
    
}

footer h3 {
    font-size: 26px;
    font-weight: bold;
}

footer h3, footer p {
    margin-bottom: 20px;
}

.fundo {
    background-color: rgb(24, 98, 236);
    margin: 20px 50px;
    padding: 30px;
    border-radius: 25px;
}

@media screen and (max-width: 850px) {

    body{
        overflow: scroll;
    }

    .formContainer {
        float: none;
        margin: auto;
    }

    .description {
        text-align: center;
    }
}
